@import "bootstrap.scss";

$fontsize-body: calc(16px + 0.4vw);
$fontsize-body: 16px;

// @import "font-awesome";
body {
	font-size: $fontsize-body;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "DomaineDisplayNarrow", serif;
  font-weight: 700;
}

$h6: $fontsize-body;
$h5: calc($h6 * 1.1);
$h4: calc($h5 * 1.2);
$h3: calc($h4 * 1.2);
$h2: calc($h3 * 1.2);
$h1: calc($h2 * 1.5);

h6 {font-size: $h6};
h5 {font-size: $h5};
h4 {font-size: $h4};
h3 {font-size: $h3};
h2 {font-size: $h2};
h1 {font-size: $h1};

nav > .flex {

	display: flex;
	justify-content: space-between;
	margin: 40px 0;
}

#hero {
	.superheader {
		font-weight: 800;
		margin-bottom: 0;
		margin-bottom:13px;
		font-size:20px;
		letter-spacing:2px;
	}
	h1 {
		font-size: 80px;
		line-height: 1em;
	}
	h2 {
		letter-spacing: 0.0125em;
		// color: deeppink;
	}
}

.hero-testimonial {
	.testimonial-content {
		font-size: 14px;
		// font-family: verdana;
		border-left: 6px solid pink;
		padding: 0.5em 0 0.5em 1em;
		margin-top: 1em;
	}
	.logo-knot {
		width: 30%;
		@media only screen and (min-width : $break-lg) {
			width: 20%;
		}
	}
}



footer {
	font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}

// FONT

@font-face {
  font-family: "DomaineText";
  font-weight: normal;
  font-style: normal;
  src:
  url("../fonts/DomaineTextWeb-Regular.woff2") format("woff2"),
}
@font-face {
  font-family: "DomaineText";
  font-weight: normal;
  font-style: italic;
  src:
  url("../fonts/DomaineTextWeb-RegularItalic.woff2") format("woff2"),
}
@font-face {
  font-family: "DomaineText";
  font-weight: bold;
  font-style: normal;
  src:
  url("../fonts/DomaineTextWeb-Bold.woff2") format("woff2"),
}
@font-face {
  font-family: "DomaineText";
  font-weight: bold;
  font-style: italic;
  src:
  url("../fonts/DomaineTextWeb-BoldItalic.woff2") format("woff2"),
}
@font-face {
  font-family: "DomaineDisplayNarrow";
  font-weight: bold;
  font-style: normal;
  src:
  url("../fonts/DomaineDisplayNarrowWeb-Semibold.woff2") format("woff2"),
}