<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Adelle.ink - {{ title }}</title>
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
  <link rel='stylesheet' href='src/css/style.css'>
  <script src="https://kit.fontawesome.com/6f18911818.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav class='container'>
    <div class='flex'>
      <div><h2><a href='/'>Adelle.ink</a></h2></div>
      <div><a href='#'>How it Works</a></div>
      <div><a href='#'>About</a></div>
      <div><a href='#'>FAQ</a></div>
    </div>
  </nav>
  {{ content }}
  <footer class='container'>
    <div class='row'>
      <div class='col-12'>
        All Images © Adelle Marcero
      </div>
    </div>
  </footer>
  <script src="src/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>